.container {
  height: auto;
}

.desertImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
  display: block;
}
.highlighted {
  border-radius: 10px;
  border: 2px solid #c73b0f;
}
.desertCategory {
  font-weight: lighter;
  font-size: medium;
  color: #87635a;
  line-height: 0px;
  margin-top: 40px;
}
.desertName {
  color: #260f08;
  font-weight: 600;
}
.desertPrice {
  color: #c73b0f;
  line-height: 0px;
  font-weight: 400;
  font-size: large;
}
.imageContainer {
  position: relative;
  display: inline-block;
}

@media (min-width: 960px) {
}
